*,::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    105deg,
    #8de9f0 0%,
    #73e7c4 30%,
    #238386 50%,
    #2476b9 75%,
    #234686 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  border-radius: 7px 3px;
  width: clamp(30vw, 120vw, 50vw);
  margin: 0 auto;
  background: #c1a9ee6c;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  padding: 1rem;
}

.input-wrapper input {
  border: 1px solid transparent;
  border-radius: 3px;
  /* width: 20vw; */
  width: calc(clamp(30vw, 120vw, 50vw) - 20%);
  padding: 0.4rem;
  background: #ffffffb0;
  font-size: clamp(0.5rem, 2rem, 1rem);
}

.add-button {
  border: 1px solid transparent;
  border-radius: 3px;
  background: transparent;
}

.input-list {
  margin-top: -1rem;
}

.todo-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: calc(clamp(30vw, 120vw, 50vw) - 45%);
  border-radius: 7px 7px;
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
}

.todo-list li {
  list-style-type: none;
  width: calc(clamp(30vw, 120vw, 50vw) - 45%);
  border-radius: 3px;
  font-size: clamp(0.3rem, 2rem, 1rem);
  background: #deecaca1;
  border: 1px solid rgba(0, 0, 0, 0.336);
  padding: 0.3rem 0;
}

.delete-button {
  border: 1px solid transparent;
  background: transparent;
  font-size: clamp(0.1rem, 1rem, 0.7rem);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.socials a:visited {
  color:black;
}

.socials a:hover {
  color:#8de9f0;
}

.source:visited {
  color: black;
}

.source {
  text-decoration: none;
}

.source:hover {
  color:#8de9f0;
}

/* Mobile */

@media screen and (min-width:300px) and (max-width: 538px) {

  .Content {
    width: 85vw;
  }

  .input-wrapper {
    width: 90vw;
  }

  .input-wrapper input {
    width: 67vw;
  }

  .todo {
    width: 70vw;
    justify-content: flex-end;
}

  .todo li {
    width: 50vw;
  }


}